<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="errorPage">This is a 404 myblog page!</div>
  </body>
</html>
